.gradient {
	background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.blur-one {
	position: absolute;
	width: 750px;
	height: 750px;
	left: -250px;
	top: -250px;
	background: #002853;
	filter: blur(450px);
	z-index: 0;
}
.blur-two {
	position: absolute;
	width: 580px;
	height: 410px;
	left: -320px;
	top: -255px;
	background: #0f4279;
	filter: blur(160px);
	z-index: 0;
}

.blur-three {
	position: absolute;
	width: 623px;
	height: 558px;
	right: -511px;
	bottom: -455px;
	background: #1b78de;
	filter: blur(280px);
	z-index: 0;
}

.gradient-border {
	width: 20%;
	padding: 2px 0;
	background-image: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}
